<div class="container">
	<div id="passwordreset" style="margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Create New Password</div>
			</div>
			
			<div class="panel-body">
			
				<div class="form-group">
					<label class=" control-label col-sm-3 col-lg-10 col-md-8 col-xl-8">New password</label>
					<div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
						<input type="password" ng-model="user.password" class="form-control"
							name="password" placeholder="create your new password">
					</div>
				</div>
				
				<br>
				
				<div class="form-group">
					<label class="control-label col-sm-3 col-lg-10 col-md-8 col-xl-8">Confirm password</label>
					<div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
						<input type="password" ng-model="user.repassword" class="form-control"
							name="password_confirmation"
							placeholder="confirm your new password">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-3 col-lg-10 col-md-8 col-xl-8">Your Token</label>
					<div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
						<input type="text" ng-model="user.token" class="form-control"
							name="token"
							placeholder="Your token">
					</div>
				</div>
				<br>
				
				<div class="form-group">
					<!-- Button -->
					<div class="  col-sm-offset-3 col-sm-9">
						<button id="btn-signup" type="button" class="btn btn-success"
							ng-click="resetUser(user)">Submit</button>
						<span ng-show="IsMatch">Emails have to match!</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
